:root{
    /* Color */
    --blue:#61a1e2;
    
--light-blue:#EDF8FF;
--dark-blue:#1A7EC0;
--black:#000;
--yellow:#FFC700;
--gray:#C4C4C4;
--light-gray:F4F5F7;
--placeholder-color:#A89D9D;
--table-gray-color:rgba(216, 84, 84, 0.856);
--yellow:FFC700;


/* Font-size */
--font-large:22px;
--font-medium:20px;
--font-small:14px;
--font-micro:12px;
--font-macro: 2.3rem;
--font-large: 1.5rem;
--font-medium: 1.2rem;
--font-small: 1rem;
--font-micro: 0.8rem;
}

body{
margin:0;
font-family: 'Noto Sans KR', sans-serif;
}

ul{
list-style: none;
padding-left: 0;
}
p{
margin: 0;
}

a {
text-decoration: none;
color: #000;
}

button,
button:focus{
border: none;
outline: none;
background-color: var(--light-blue);
cursor: pointer;
}
/* Profile Area */
.ToggleBar i{
font-size: var(--font-large);
}

.area_profile{
position: fixed;
width: 20%;
background-color: var(--light-blue);
height: 100vh;
padding: 1em;
}

.userProfile{
text-align: center;
margin-top: 5em;
}

.userProfile>li:nth-child(2){
background-color: var(--gray);
width: 90px;
height: 90px;
border-radius: 75px;
margin: 0 auto;
font-size: 2.2rem;
line-height: 90px;
color: rgb(0 0 0 / 30%);
}

.userProfile>li:nth-child(3){
margin-top: 1em;  
}

.userProfile>li:nth-child(3)>i{
font-size: var(--font-macro);
color: var(--yellow);
margin-bottom: 0.3em;
}

.userProfile>li:nth-child(3)>p{
font-size: var(--font-medium);
font-weight: 700;
}

.userInfo{
text-align: center;
margin: 0 1em;
}

.userInfo p{
display: flex;
justify-content:space-between;
margin: 0.5em;
font-weight: 700;
font-size: var(--font-small);
}

.userInfo i{
font-size: var(--font-large);
}

.userInfo .BadgeAndList .moreBtn{
height: 100%;
transition: transform 300ms ease-in-out;
}

.userInfo .BadgeAndList .moreBtn.clicked{
transform: rotate(180deg);
}
